
{% extends 'a_base.html' %}
{% block content %}


<font size="+1" color="#6600ff">{{msg}}
</font>

<center>
<table width="60%" id="tab">
<tr><th>
<h3><b><font size="" color="#ffffff">Training and Testing</font></b></h3>


<tr><td><br>
<form action="/nbtrain/" method="post">
{% csrf_token %}
<input type="file" name="file" class="form-control"> <br>
<input type="submit"   class="form-control"value="Naive Bayes Classifier">	</form>

<tr><td><br>

<form action="/dttrain/" method="post">
{% csrf_token %}
<input type="file" name="file" class="form-control"> <br>
<input type="submit"  class="form-control" value="Decision Tree Classifier">	</form>
<tr><td><br>		
<form action="/svmtrain/" method="post">
{% csrf_token %}
<input type="file" name="file" class="form-control"> <br>
<input type="submit"  class="form-control" value="SVM Classifier">	</form>
<tr><td><br>
<form action="/rftrain/" method="post">
{% csrf_token %}
<input type="file" name="file" class="form-control"> <br>
<input type="submit"  class="form-control" value="Random Forest Classifier">	</form>
<tr><td><br>
<form action="/lrtrain/" method="post">
{% csrf_token %}
<input type="file" name="file" class="form-control"> <br>
<input type="submit"  class="form-control" value="Logistic Regression Classifier">	</form>

</table>




{% endblock %}