
{% extends 'a_base.html' %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <style>
        /* Define the style for the container div */
        .table-container {
            max-width: 1000px; /* Adjust the maximum width as per your requirement */
            overflow-x: auto; /* Enable horizontal scrolling */
        }
    </style>
</head>

<center>
	<font size="" color="#ff0000"><strong>{{msg}}</strong></font>
<h2>Feedback Data</h2>
 <div class="table-container">
    <table border="1">
        {% for row in csv_data %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}